:root {
  --bg: #f7591f;
  --bg2: #fcd407;
  --bg3: #ffffff;
  --texto: #0f6eb7;
}
/* Gerais */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: url('../img/bg_img.png') no-repeat center top;
  background-size: cover;
  overflow: hidden;
  margin: auto;
}

/* Barra de navegação */
header {
  overflow: hidden;
  background-color: var(--bg);
  padding: 5px 10px;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 100;
}
header a {
  float: left;
  color: var(--bg3);
  padding: 8px 10px;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
  border-radius: 4px;
}
#logo {
  width: 12rem;
}
header a:hover {
  background-color: var(--bg3);
  color: var(--texto);
  transition: 0.4s;
}
#menu {
  float: right;
  padding-top: 10px;
}
section {
  margin-top: 210px;
  padding: 15px 15px;
}
.conteudo {
  margin-top: 150px;
  padding: 15px 15px;
  font-size: 30px;
  max-width: 700px;
}
.conteudo div {
  float: left;
  width: 50%;
  box-sizing: border-box;
  padding: 0 15px;
}
.conteudo h3 {
  color: var(--bg3);
  text-align: center;
  font-size: 42px;
}
.conteudo p {
  text-align: center;
  margin: auto;
  font-size: 20px;
  color: #fff;
}
.conteudo .formulario h4,
.conteudo .formulario p {
  text-align: center;
  color: #000;
}
.formulario {
  background: #dedede;
  padding: 10px 15px;
}
.formulario input[type='text'],
.formulario input[type='email'] {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  border: 2px;
  padding: 8px 10px;
}
.formulario label {
  display: block;
  font-size: 18px;
  padding-left: 10px;
}
.formulario .send-btn {
  width: 80%;
  margin: 20px auto 10px auto;
  display: block;
  background-color: var(--bg);
  border: none;
  padding: 10px 0;
  border-radius: 200px;
  color: #fff;
}
.send-btn:hover {
  background: var(--texto);
  border: 2px solid var(--bg);
}
.destaque {
  color: #fff;
}
.aceite {
  font-size: 14px;
}

.copy h3,
.copy p {
  margin-left: 150px;
  width: 660px;

  color: #fff;
  text-shadow: 2px 2px black;
}

@media (max-width: 496px) {
  .conteudo div {
    width: 100%;
  }
}
